.main-e-participate {

    .top-text-sec {
        display: flex;
        column-gap: 2.5rem;
        padding-bottom: 5rem;

        .heading2 {
            //width: 41.432%;
            width: 41.012%;
            padding-right: 17rem;
        }

        .body1 {
            //width: 49.850%;
            width: 49.346%;
            margin: 0;
        }
    }
    
    .strategies-images {
        display: flex;
        min-height: 40rem;

        .strategy {
            position: relative;
            flex: 1 1 33.333%;
            transition: all .35s ease-in-out;

            &.active-strategy {
                flex: 1 1 60.604%;

                .strategy-overlay {
                    opacity: .5;
                }

                .strategy-content {

                    .strategy-read-more {
                        display: inline-block;
                    }
                }
            }

            .strategy-overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: .25;
            }

            .strategy-icon-btn {
                display: none;
            }

            // &:hover {
            //     flex: 1 1 60.604%;

            //     .strategy-content {

            //         .strategy-read-more {
            //             display: inline-block;
            //         }
            //     }
            // }

            &:first-of-type {
                border-right: .125rem solid $white;

                .strategy-overlay {
                    border-radius: 2rem 0 0 2rem;
                }

                .strategy-img {
                    border-radius: 2rem 0 0 2rem ;
                }
            }

            &:last-of-type {
                border-left: .125rem solid $white;

                .strategy-overlay {
                    border-radius: 0 2rem 2rem 0;
                }

                .strategy-img {
                    border-radius: 0 2rem 2rem 0;
                }
            }


            .strategy-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .strategy-content {
                position: absolute;
                left: 4rem;
                bottom: 4.125rem;

                .strategy-read-more {
                    padding: .688rem 1.5rem;
                    display: none;
                    margin-top: 2.5rem;
                }
            }
        }
    }
}

@media ($vpTablet991) {
    .main-e-participate {

        .top-text-sec {

            .heading2 {
                padding-right: 9rem;
            }
        }
    }
}

@media ($vpMobile600) {
    .main-e-participate {
        .top-text-sec {
            padding-bottom: 2.5rem;
            flex-direction: column;
            row-gap: 3rem;
    
            .heading2 {
                width: 100%;
            }
    
            .body1 {
                width: 100%;
                font-size: 1.25rem;
            }
        }

        .strategies-images {
            flex-direction: column;

            .strategy {
                //min-height: 15rem;

                .strategy-icon-btn {
                    display: flex;
                    position: absolute;
                    top: 1.25rem;
                    right: 1.25rem;
                    min-height: 3rem;
                    min-width: 3rem;
                    padding: 0;
                    background: none;
                    border: .06rem solid $white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5rem;

                    .strategy-plus-icon {

                        path {
                            fill: $white;
                        }
                    }

                    // .strategy-minus-icon {
                    //     display: none;
                    // }
                }

                &:first-of-type {
                    border-bottom: .06rem solid $white;
                    border-right: none;

                    .strategy-overlay {
                        border-radius: 2rem 2rem 0 0;
                    }

                    .strategy-img {
                        border-radius: 2rem 2rem 0 0;
                    }
                }
    
                &:last-of-type {
                    border-top: .06rem solid $white;
                    border-left: none;

                    .strategy-overlay {
                        border-radius: 0 0 2rem 2rem;
                    }
    
                    .strategy-img {
                        border-radius: 0 0 2rem 2rem;
                    }
                }

                &.active-strategy {
                    //min-height: 21.875rem;

                    .strategy-icon-btn {

                        .strategy-plus-icon {
                            // display: none;
                            path {

                                &:last-of-type {
                                    display: none;
                                }
                            }
                        }
                        
                        // .strategy-minus-icon {
                        //     display: block;

                        //     path {
                        //         fill: $white;
                        //     }
                        // }

                    }

                    .strategy-img {
                        min-height: 21.875rem;
                    }
                }

                .strategy-img {
                   min-height: 15rem;
                   transition: all .35s ease-in-out;
                }

                .strategy-content {
                    bottom: 1.25rem;
                    left: 1.25rem;

                    .strategy-read-more {
                        margin-top: 1.5rem;
                        padding: .5rem 1.125rem;
                    }
                }
            }
        }
    }
}