.view-and-download-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6.875rem;
    
    .view-and-download-card-wrapper {
        flex: 1 1 33.333%;
        padding: 1rem .625rem;
        flex-grow: 0;

        .view-and-download-card {
            padding: 2.5rem 2rem 2rem;
            background-color: $baselineSecondaryLight;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: $secondaryFont;
            height: 100%;

            .view-and-download-heading {
                padding: 0 0 5.25rem;
            }
        
            .view-and-download-description  {
                max-width: fit-content;
        
                .views-and-downloads-nums {
                    display: flex;
                    column-gap: 2rem;
                    margin-bottom: 1.5rem;
        
                    .v-and-d-text {
                        margin: 0;
                    }
        
                    .v-and-d-views-nums {
                        display: flex;
                        column-gap: .5rem;
                        align-items: center;
        
                        .v-and-d-view-icon {
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                    }
        
                    .v-and-d-downloads-nums {
                        display: flex;
                        column-gap: .5rem;
                        align-items: center;
        
                        .v-and-d-download-gold-icon {
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                    }
                }
                
                .v-and-d-readmore-btn {
                    display: flex;
                    column-gap: .5rem;
                    // position: relative;
        
                    .v-and-d-readmore-link {
                        padding: .67rem 1.5rem;
                        align-content: center;
                    }
        
                    .v-and-d-dropdown{
                        .v-and-d-download-btn {
                            border: .063rem solid #fff;
                            transition: all .35s ease;
                            height: 2.875rem;
                            width: 2.875rem;
                            
                            .v-and-d-download-icon {
                                max-height: .875rem;
                                max-width: .875rem;
                                min-height: .875rem;
                                min-width: .875rem;
                            }
            
                            &:hover {
                                border: .063rem solid #9f8332;
                                transition: all .35s ease;
                            }
                        }
            
                        .v-and-d-dropdown-menu {
                            position: absolute;
                            margin-top: .5rem;
                            border: .06rem solid $secondarySemiLight;
                            border-radius: .5rem;
                            min-width: 12.125rem;
                            background-color: $white;
                            height: 0;
                            opacity: 0;
                            visibility: hidden;
                            overflow: hidden;
                            transition: all .35s ease;
        
                            &.v-and-d-dropdown-active {
                                opacity: 1;
                                visibility: visible;
                                overflow: hidden;
                                z-index: 99;
                            }
                            
                            ul {
        
                                li {
        
                                    &:first-of-type {
                                        border-radius: .5rem .5rem 0 0;
                                        background-color: $baselineSecondaryLight;
                                    }
        
                                    &:last-of-type {
                                        border-radius: 0 0 .5rem .5rem;
                                    }
        
                                    a {
                                        color: inherit;
                                        display: inline-block;
                                        width: 100%;
                                        padding: .938rem 1rem;
                                    }
        
                                    &:not(:first-of-type){
                                         
                                        &:hover {
                                            background-color: $secondarySimiLight;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                }
            }
        }
    }
}

@media ($vpTablet991) {
    .view-and-download-cards {
        .view-and-download-card-wrapper {
            flex: 1 1 50%;
            flex-grow: 0;
        }
    }
}

@media ($vpMobile600) {
    .view-and-download-cards {
        margin: 0 1rem;
        .view-and-download-card-wrapper {
            flex: 1 1 100%;

            .view-and-download-card {

                .view-and-download-heading {
                    padding: 0 0 2.5rem;
                }

                .view-and-download-description {

                    .v-and-d-readmore-btn {

                        .v-and-d-dropdown {

                            .v-and-d-dropdown-menu {
                                min-width: 9.125rem;
                            }
                        }
                    }
                }
            }
        }
    }
}